.name{
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(58, 115, 221, 0.87);
    }
    .img{
        margin-bottom: 10px;
        width: 320px;
        height: 350px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        }  
      
    .rate{
        margin-left: 45%;
        margin-bottom: 30px;
    }
    .movies{
        display: flex;
    }